@charset "utf-8";
/* Element Reset */
.xm,
.xm table,
.xm input,
.xm textarea,
.xm select,
.xm button{color:#333}
.xm button,
.xm input[type=submit],
.xm input[type=reset],
.xm input[type=button]{cursor:pointer;overflow:visible}
.xm img{border:0}
.xm p{line-height:1.5}
/* Heading */
.xm .h1, 
.xm .h2, 
.xm .h3, 
.xm .h4{font-weight:bold;position:relative;zoom:1;margin-bottom:10px;}
.xm .h1{border-bottom-width:4px;font-size:24px}
.xm .h2{border-bottom-width:3px;font-size:20px}
.xm .h3{border-bottom-width:2px;font-size:16px}
.xm .h4{border-bottom-width:1px;font-size:12px}
/* Lined Tab Navigation */
.xm .nav{padding:0;margin:1em 0}
.xm .nav ul{position:relative;margin:0;padding:0;list-style:none;border-bottom:1px solid #ccc;zoom:1}
.xm .nav ul:after{content:"";display:block;clear:both}
.xm .nav li{float:left;margin-bottom:-1px}
.xm .nav li a{position:relative;float:left;text-decoration:none;border:1px solid #eee;border-bottom-color:#ccc;background:#fafafa;color:#333}
.xm .nav li a span{display:inline-block;height:14px;padding:6px 15px 14px 15px;letter-spacing:-1px;cursor:pointer}
.xm .nav li.active a{border:1px solid #ccc;margin-top:-1px;background:transparent}
.xm .nav li.active a span{padding-top:7px; padding-bottom:14px; font-weight:bold}
/* Form */
.xm .form{margin:1em 0;padding:0}
.xm .form fieldset{margin:0 0 2em 0;padding:0;border:0}
.xm .form em{font-style:normal;color:#e00}
.xm .form label{margin-right:1em;line-height:1;vertical-align:middle}
.xm .form input[type=checkbox]+label,
.xm .form input[type=radio]+label,
.xm .form input[type=file]{cursor:pointer}
.xm .form ul{position:relative;margin:0;padding:0;list-style:none;zoom:1}
.xm .form li{list-style:none;margin:-1px 0;padding:8px 0;vertical-align:top;zoom:1}
.xm .form li:first-child{border-top:0}
.xm .form li>label:first-child{display:block;}
.xm .form li label em{font-weight:normal}
.xm .form label.overlap{position:absolute;color:#aaa}
.xm .form input[type=text],
.xm .form input[type=password]{position:relative;width:150px;color:#777;padding:3px;margin-bottom:0;border-width:1px;border-style:solid;border-color:#aaa #ccc #ccc #aaa;filter:alpha(opacity:60);opacity:.6;transition:all .2s;-moz-transition:all .2s;-webkit-transition:all .2s;box-shadow:inset 1px 1px 2px rgba(0,0,0,.1);border-radius:3px}
.xm .form input[type=file]{position:relative;width:200px;color:#777;padding:3px;margin-bottom:0;border-width:1px;border-style:solid;border-color:#aaa #ccc #ccc #aaa;filter:alpha(opacity:60);opacity:.6;transition:all .2s;-moz-transition:all .2s;-webkit-transition:all .2s;box-shadow:inset 1px 1px 2px rgba(0,0,0,.1);border-radius:3px}
.xm .form textarea{position:relative;width:400px;color:#777;padding:3px;margin-bottom:0;border-width:1px;border-style:solid;border-color:#aaa #ccc #ccc #aaa;filter:alpha(opacity:60);opacity:.6;transition:all .2s;-moz-transition:all .2s;-webkit-transition:all .2s;box-shadow:inset 1px 1px 2px rgba(0,0,0,.1);border-radius:3px}
.xm .form input[type=text],
.xm .form input[type=password]{height:20px;}
.xm .form input[type=text]:focus,
.xm .form input[type=password]:focus,
.xm .form input[type=file]:focus,
.xm .form textarea:focus{outline:none;opacity:1;filter:alpha(opacity:100);}
/*.xm .form input[type=text],
.xm .form input[type=password],
.xm .form input[type=file]{height:22px;line-height:22px;vertical-align:middle;padding:0 4px} */
.xm .form input[type=text].loading,
.xm .form input.loading[type=password]{padding-right:24px;width:260px;background:transparent url(../img/preLoader16.gif) no-repeat 265px center}
.xm .form input[type=checkbox],
.xm .form input[type=radio]{margin:0;padding:0;width:13px;height:13px;vertical-align:middle}
.xm .form input[type=text][disabled=disabled],
.xm .form input[type=password][disabled=disabled],
.xm .form input[type=checkbox][disabled=disabled],
.xm .form input[type=radio][disabled=disabled],
.xm .form input[type=file][disabled=disabled],
.xm .form textarea[disabled=disabled],
.xm .form select[disabled=disabled]{background:#ddd !important;text-shadow:1px 1px 0 #fff}
.xm .form textarea{padding:3px 4px;vertical-align:top}
.xm .form span.desc, 
.xm .form p.desc,
.xm .form em.desc{line-height:22px;margin:0 10px; color:#999}
/*.xm .form p.desc{margin:.25em 0;line-height:1.4}
.xm .form .q{font-weight:bold;margin:0 0 5px 0}
.xm .form .a{margin:0 0 5px 0}*/
.xm .form .tgForm{margin-right:1em}
.xm .form .h1 + ul,
.xm .form .h2 + ul,
.xm .form .h3 + ul,
.xm .form .h4 + ul{border-top:0}
.xm .form .btn_area{text-align:right}
.xm .form select{position:relative;width:158px !important;color:#777;padding:6px;margin-bottom:12px;border-width:1px;border-style:solid;border-color:#aaa #ccc #ccc #aaa;filter:alpha(opacity:60);opacity:.6;transition:all .2s;-moz-transition:all .2s;-webkit-transition:all .2s;box-shadow:inset 1px 1px 2px rgba(0,0,0,.1);border-radius:3px}
.xm .form .dateRemover{position:absolute;margin-top:8px;margin-left:-45px;}
/* Table */
.xm .table{margin:1em 0}
.xm .table table{width:100%;border:0;border-collapse:collapse;border-top:2px solid #ccc}
.xm .table caption{font-weight:bold;text-align:left;line-height:22px;padding:5px 0}
.xm .table caption:after{content:"";display:block;clear:both}
.xm .table caption a{font-weight:normal}
.xm .table caption em{float:right;margin-left:1em}
.xm .table caption strong{color:#e00}
.xm .table caption .side{float:right;font-weight:normal;margin-left:1em}
.xm .table th,
.xm .table td{border:0;padding:8px;vertical-align:middle;text-align:left;border-bottom:1px solid #ddd;white-space:nowrap}
.xm .table th{background:#f8f8f8}
.xm .table thead th{border-bottom:1px solid #999}
.xm .table tfoot td{font-weight:bold;background:#f8f8f8}
.xm .table.even tbody tr:nth-of-type(even) td{background-color:#fafafa}
.xm .table td>input[type=text]{margin:-1px 0 -3px 0 !important;vertical-align:middle}
.xm .table img{vertical-align:middle}
.xm .table em{font-style:normal;font-weight:normal;color:#e00}
.xm .table .title,
.xm .table .text{white-space:normal}
#signup_th{vertical-align:top; padding-top:10px; padding-right:10px; text-align: left;}
#signup{height:40px;}
/* Pagination */
.xm .pagination{margin:1em 0;text-align:center;line-height:normal}
.xm .pagination *{vertical-align:middle}
.xm .pagination a,
.xm .pagination strong{position:relative;display:inline-block;padding:2px 4px;font-weight:bold;text-decoration:none;line-height:normal;color:#333 !important;vertical-align:middle}
.xm .pagination a:hover,
.xm .pagination a:active,
.xm .pagination a:focus{border:1px solid #ddd;margin:0 -1px}
.xm .pagination strong{color:#e00 !important;font-size:20px}
.xm .pagination .direction{font-weight:normal;white-space:nowrap}
.xm .pagination .direction:hover,
.xm .pagination .direction:active,
.xm .pagination .direction:focus{border:0;margin:0;text-decoration:underline}
.xm .pagination input{width:30px;text-align:center}
.xm .pagination button{overflow:visible}
/* Text Button */
.xm input.text, 
.xm button.text{border:0;overflow:visible;padding:0;margin:0 4px 0 0;color:#33a;background:none;text-decoration:underline}
#btn input{padding:0 20px;height:30px;background:#f9f9f9;border-width:1px;border-style:solid;border-color:#ddd #ccc #bbb #d6d6d6; border-radius:3px;font-weight:bold;line-height:30px;cursor:pointer;letter-spacing:-1px;text-align:center;box-shadow:0 1px 1px rgba(0,0,0,.1);color:#333}

/* Agreement */
.xm .agreement{margin:2em 0}
.xm .agreement .text{height:150px;overflow:auto;margin:1em 0;border:1px solid #ccc;box-shadow:0 0 6px rgba(0,0,0,.1);border-radius:8px;padding:10px;background:#fff;}
.xm .agreement .confirm{margin:1em 0}

/* Border */
#border{margin:0 auto;border:1px solid #ccc;box-shadow:0 0 6px rgba(0,0,0,.1);border-radius:8px;padding:50px 80px;background:#fff;}

.itx_wrp{position:relative;display:block;margin:12px 0;line-height:20px}
.itx_wrp label{position:absolute;top:12px;left:8px;font-size:13px}

.xpress-editor .tool ul.type li select{padding:0}

.xm .answer {display:none; position:absolute; margin-left:190px; margin-top:-28px; padding:5px; border:1px solid #CCC; border-radius:6px; color:#999;}
.xm .question {text-decoration:none; padding:5px; padding:2px 5px; border:1px solid #CCC; border-radius:3px; color:#999}