<div class="cont_w" style="margin-top:0px;">

<?php
$logged_info = Context::get('logged_info');
$oDB = &DB::getInstance();
$query = $oDB->_query("select extra_vars from xe_member where member_srl = " . $logged_info->member_srl);
$result = $oDB->_fetch($query);
$extra_vars = unserialize($result->extra_vars);

if($extra_vars->privacy2018agreeYN == 'Y') {
  echo '<script>location.href="/"</script>';
} else {
  if(!empty($_POST['checkAgreement']) && $_POST['checkAgreement'] == 'Y') {
    $extra_vars->privacy2018agreeYN = $_POST['checkAgreement'];
    date_default_timezone_set('Asia/Seoul');
    $extra_vars->privacy2018agreeYNTime = date('Y-m-d H:i:s');
    $serials = serialize($extra_vars);
    $query = $oDB->_query("update xe_member set extra_vars = '" . $serials . "' where member_srl = " . $logged_info->member_srl);
    $oDB->_fetch($query);
    echo '<script>alert("재동의하셨습니다!");location.href="/"</script>';
  }
}
?>


<div class="joinContent">

  <div class="header" style="text-align: center;">
    <h1>누구나학교 홈페이지</h1>
    <h2>2018 개정 회원 약관 및 개인정보 취급방침 재동의 요청</h2>
    <p>안정적인 관리를 위해, 개인정보 제공에 대한 재동의를 실시하오니 적극적인 협조 부탁드립니다.</p>
    <p>※요청기간 : 2018.5.1 이후 첫 로그인시 ~ 2019.4.30 종료예정</p>
  </div>

	<h4 class="joinTitle">약관 동의</h4>
	<form action="" method="post">
		<fieldset>
						<div class="joinAgreement">회원가입약관<br>
<br>
제1장 총칙<br>
제1조 (목적) 이 약관은 전기통신사업법령 및 정보통신망이용촉진및정보보호등에 관한 법령에 의하여 수원시평생학습관 누구나학교(이하 “기관”)에서 제공하는 http://nuguna.suwonedu.org 인터넷 서비스(한글명:수원시평생학습관 누구나학교, 이하 "서비스")의 이용조건 및 절차에 관한 제반 사항과 기타 필요한 사항을 규정함을 목적으로 합니다.<br>
<br>
제2조 (용어의 정의) <br>
본 약관에서 사용하는 용어의 정의는 다음과 같습니다.<br>
1. 이용자 : 본 약관에 따라 사이트에 접속하여 제공하는 서비스를 받는 회원 및 비회원<br>
2. 관리자 : 서비스에 대하여 관리하는 사람으로 서비스의 전반적인 관리와 원활한 운영을 위하여 기관에서 지정한 자<br>
3. 회원 : 사이트에 접속하여 본 약관에 동의하고, 아이디(ID)와 비밀번호(PASSWORD)를 발급 받아 실명확인 절차를 받은 자<br>
4. 비회원 : 회원 가입을 하지 않고 수원시평생학습관 누구나학교 홈페이지에서 제공하는 서비스를 이용하는 자<br>
5. 아이디(ID) : 회원 식별과 회원의 서비스 이용을 위하여 이용자가 선정한 이메일 주소<br>
6. 비밀번호(PASSWORD) : 회원이 부여 받은 ID와 일치된 회원임을 확인하고, 회원의 정보 보호를 위해 회원 본인이 설정한 문자와 숫자 및 특수문자의 조합<br>
7. 회원가입 : 이용자가 기관 제공하는 신청서 양식에 해당 정보를 기입하고, 본 약관에 동의하여 서비스 이용계약을 체결하는 의사 표시<br>
8. 회원탈퇴 : 회원이 서비스 이용계약을 종료시키는 의사 표시<br>
9. 게시물 : 회원이 서비스를 이용함에 있어 서비스 상에 게시한 부호ㆍ문자ㆍ음성ㆍ음향ㆍ화상ㆍ동영상 등의 정보 형태의 글, 사진, 동영상 및 각종 파일과 링크 등<br>
<br>
제3조 (약관의 효력과 변경) <br>
1. 기관은 본 약관 내용에 동의하는 것을 조건으로 이용자에게 서비스를 제공할 것이며, 이용자가 본 약관의 내용에 동의하는 경우, 서비스 제공 행위 및 이용자의 서비스 사용 행위에는 본 약관이 우선적으로 적용됩니다.<br>
2. 본 약관은 온라인 또는 기타 방법으로 공시함으로써 그 효력이 발생합니다.<br>
3. 본 약관을 사전 고지 없이 변경할 수 있으며, 변경된 약관은 제2항과 같은 방법으로 공지함으로써 효력이 발생됩니다.<br>
4. 본 약관에 동의하는 것은 정기적으로 사이트에 방문하여 약관의 변경사항을 확인하는 것에 동의함을 의미합니다. 변경된 약관에 대한 정보를 알지 못해 발생하는 이용자의 피해는 기관에서 책임지지 않습니다.<br>
5. 회원은 변경된 약관 사항에 동의하지 않으면 서비스 이용을 중단하고 회원 탈퇴를 요청할 수 있으며, 변경된 약관의 효력발생일 시점부터 7일 이후에도 별도의 거부 의사 표시 없이 서비스를 계속 사용할 경우 약관의 변경 사항에 동의한 것으로 간주 됩니다.<br>
<br>
<br>
제2장 서비스 제공 및 이용<br>
제4조 (이용계약의 성립) <br>
1. 이용계약은 이용자가 본 약관 내용에 대한 동의와 이용 신청에 대하여 관리자의 이용승낙으로 성립합니다.<br>
2. 본 약관에 대한 동의는 이용신청 당시의 물음에 이용자가 "약관동의"를 체크 한 후 "확인" 버튼을 누르면 약관에 동의하는 것으로 간주됩니다.<br>
<br>
제5조 (서비스 이용신청) <br>
1. 이용신청은 기관이 제공하는 소정의 가입신청 양식에서 요구 하는 사항을 기록하여 신청합니다.<br>
2. 가입신청 양식에 기재하는 모든 회원 정보는 실제 데이터인 것으로 간주하며 실명이나 실제 정보를 입력하지 않은 사용자는 법적인 보호를 받을 수 없으며, 서비스 사용의 제한을 받을 수 있습니다.<br>
3. 회원가입은 반드시 사용가능한 이메일주소로만 가입할 수 있으며 관리자는 가입 단계에서 실명확인 조치를 할 수 있습니다.<br>
4. 타인의 명의(이름 및 이메일주소를 도용하여 이용신청을 한 회원의 모든 ID는 삭제되며, 관계법령에 따라 처벌을 받을 수 있습니다.<br>
5. 회원가입 시 회원이 부가적으로 선택을 해야 하는 항목에 대해서 선택권은 회원에게 있으며, 그 선택한 결과에 대해서 관리자는 존중하여야 합니다.<br>
<br>
제6조 (이용신청의 승낙) 관리자는 제5조의 규정에 의한 이용신청 회원에 대하여 특별한 사정이 없는 한 접수 순서대로 이용신청을 승낙합니다.<br>
<br>
제7조 (이용신청에 대한 승낙의 제한) <br>
관리자는 다음 각 호에 해당하는 신청에 대하여는 승낙을 하지 않을 수 있습니다.<br>
1. 실명이 아니거나, 타인의 명의를 이용하여 신청하는 경우<br>
2. 이용계약 신청서의 내용을 허위 또는 누락 오기하여 신청하는 경우<br>
3. 사회의 안녕과 질서, 미풍양속을 저해할 목적으로 신청하는 경우<br>
4. 부정한 용도나 영리를 추구할 목적으로 신청하는 경우<br>
5. 기타 규정한 제반사항을 위반하며 신청하는 경우<br>
6. 기술상 서비스 제공이 불가능한 경우<br>
<br>
제8조 (계약 사항의 변경) <br>
1. 회원은 개인정보관리를 통해 언제든지 개인정보를 열람하고 수정할 수 있습니다.<br>
2. 회원은 이용 신청 시 기재한 사항이 변경되었을 경우 관리자가 정한 별도의 이용 방법으로 정해진 양식 및 방법에 의하여 수정을 해야 하고 변경하지 않아 발생되는 문제의 책임은 회원에게 있습니다.<br>
<br>
제9조 (회원 정보 수집·사용·관리·보호) <br>
1. 회원의 개인정보에 대해서는 수원시평생학습관 누구나학교 홈페이지 개인정보처리방침이 적용됩니다.<br>
2. 회원의 정보는 다음과 같이 수집, 사용, 관리, 보호됩니다. <br>
① 개인정보의 수집 : 회원가입 시 회원이 제공하는 정보를 통하여 회원에 관한 정보를 수집합니다.<br>
② 개인정보의 사용 : 관리자는 서비스 제공과 관련해서 수집된 회원의 개인정보를 본인의 승낙 없이 제3자에게 누설, 배포하지 않습니다. 단, 전기통신기본법 등 관련 법률의 규정에 의해 국가기관의 요구가 있는 경우, 범죄에 대한 수사상의 목적이 있거나 방송통신심의위원회의 요청이 있는 경우 또는 기타 관계법령 에서 정한 절차에 따른 요청이 있는 경우, 개인 정보 등 관련정보를 타 행정기관에 제공할 수 있습니다.<br>
③ 개인정보의 관리 : 관리자는 개인정보의 보호 및 관리를 위하여 서비스의 개인 정보관리에서 수시로 귀하의 개인정보를 수정, 삭제할 수 있습니다. 수신되는 정보 중 불필요하다고 생각되는 부분도 변경, 조정할 수 있습니다.<br>
④ 개인정보의 보호 : 회원의 개인정보는 제2장 제9조 2항의③번의 사유 외에는 오직 회원만이 열람, 수정, 삭제할 수 있으며, 이는 전적으로 회원의 ID와 비밀번호에 의해 관리되고 있습니다. 따라서 타인에게 본인의 ID와 비밀번호를 알려주어서는 아니 되며, 작업 종료 시에는 반드시 로그아웃 해주시고, 웹 브라우저의 창을 닫아주시기 바랍니다.<br>
3. 회원이 본 약관에 따라 이용신청을 하는 것은, 기관에서 제공한 신청양식에 따라 작성된 회원 정보를 수집, 이용하는 것에 동의하는 것으로 간주됩니다.<br>
<br>
제10조 (회원의 정보 보안) <br>
1. 이용자가 서비스 가입 절차를 완료하는 순간부터 회원은 입력한 정보의 비밀을 유지할 책임이 있으며, 회원의 ID와 비밀번호를 사용하여 발생하는 모든 결과에 대한 책임은 회원 본인에게 있습니다.<br>
2. ID와 비밀번호에 관한 모든 관리의 책임은 회원에게 있으며, 회원의 ID나 비밀번호가 부정하게 사용된 사실을 발견하는 즉시 수원시평생학습관 누구나학교 홈페이지 관리자에게 신고하여야 합니다. 신고를 하지 않음으로 인한 모든 책임은 회원 본인에게 있습니다.<br>
3. 이용자는 서비스의 사용 종료 시마다 정확히 접속을 종료해야 하며, 정확히 종료하지 아니함으로써 제3자가 회원에 관한 정보를 이용하게 되는 등의 결과로 인해 발생하는 손해 및 손실에 대하여 기관은 책임을 부담하지 아니합니다.<br>
<br>
제11조 (서비스의 제공 및 이용) <br>
1. 수원시평생학습관 누구나학교 홈페이지가 제공하는 서비스의 내용은 다음과 같습니다. <br>
① 누구나학교 개설 및 운영관리에 대한 서비스<br>
② 회원가입을 통한 로그인 후 강좌 개설, 댓글 작성 등 회원개인정보 관리 일체<br>
③ 기타 누구나학교 관련 평생학습 자료 등<br>
2. 서비스는 연중무휴, 1일 24시간 제공함을 원칙으로 합니다.<br>
3. 수원시평생학습관 누구나학교 홈페이지는 컴퓨터 등 정보통신설비의 보수점검, 교체 및 고장, 정기점검, 통신두절 또는 운영상 상당한 이유가 있는 경우 서비스의 제공을 일시적으로 중단할 수 있습니다. 이 경우 관리자는 사전에 수원시평생학습관 누구나학교 홈페이지 공지사항, SMS 등을 통해 회원에게 통지합니다. 다만, 관리자가 부득이하게 사전 통지할 수 없는 경우 사후에 통지할 수 있습니다.<br>
<br>
제12조 (서비스의 해지 및 변경) <br>
1. 회원은 회원가입 이후 수원시평생학습관 누구나학교 홈페이지에서 제공하는 서비스를 제공받을 의사가 없는 등의 사유가 있을 경우에는 언제든지 회원탈퇴(해지)를 할 수 있으며, 관리자는 즉시 회원탈퇴를 처리합니다.<br>
2. 회원탈퇴 시 관련법 및 개인정보취급방침에 따라 해지 즉시 회원의 모든 정보는 소멸 됩니다.<br>
3. 수원시평생학습관 누구나학교 홈페이지는 상당한 이유가 있는 경우에 운영상, 기술상의 필요에 따라 제공하고 있는 전부 또는 일부 서비스를 변경할 수 있습니다.<br>
4. 서비스의 내용, 이용방법, 이용시간에 대하여 변경이 있는 경우에는 변경사유, 변경 될 서비스의 내용 및 제공일자 등은 그 변경 전에 해당 서비스 초기화면에 게시하여야 합니다.<br>
<br>
제13조 (정보 제공 및 홍보물 게재) <br>
1. 관리자는 서비스에 적절하다고 판단되거나 활용 가능성 있는 홍보물 및 각종 정보를 게재하는 방법으로 회원에게 서비스를 제공할 수 있습니다.<br>
2. 관리자는 회원이 서비스 이용 중 필요하다고 인정되는 다양한 정보를 공지사항이나 전자메일, SMS 등의 방법으로 회원에게 제공할 수 있습니다. 다만, 회원은 수강 중인 강좌와 관련된 정보 이외의 전자메일, SMS에 대한 수신을 거절할 수 있습니다.<br>
<br>
제14조 (게시물의 저작권)<br>
 1. 회원이 서비스 내에 게시한 게시물의 저작권은 회원이 소유하며 관리자는 서비스 내에 이를 게시할 수 있는 권리를 갖습니다.<br>
2. 관리자는 회원이 서비스 내에 게시한 게시물이 타인의 저작권, 프로그램 저작권 등을 침해하더라도 이에 대한 민·형사상의 책임을 부담하지 않습니다. 만일 회원이 타인의 저작권 등을 침해하였음을 이유로 기관이 타인으로부터 손해배상 청구 등 이의 제기를 받은 경우 회원은 기관의 면책을 위하여 노력하여야 하며, 기관이 면책되지 못한 경우 회원은 그로 인해 기관에 발생한 모든 손해를 부담하여야 합니다.<br>
3. 관리자는 회원이 해지하거나 적법한 사유로 해지 된 경우 해당 회원이 게시하였던 게시물을 삭제할 수 있습니다.<br>
4. 회원은 서비스를 이용하여 얻은 정보를 가공, 판매하는 행위 등 서비스에 게재된 자료를 영리목적으로 이용하거나 제3자에게 이용하게 할 수 없으며, 게시물에 대한 저작권 침해는 관계 법령의 적용을 받습니다.<br>
<br>
제15조 (이용자의 행동규범 및 서비스 이용제한) <br>
1. 회원이 제공하는 정보의 내용이 허위인 것으로 판명되거나, 그러하다고 의심할 만한 합리적인 사유가 발생할 경우 관리자는 회원의 서비스 사용을 일부 또는 전부를 중지할 수 있으며, 이로 인해 발생하는 불이익에 대해 책임을 부담하지 아니합니다.<br>
2. 회원이 서비스를 통하여 게시, 전송, 입수하였거나 전자메일 등 다른 수단에 의하여 게시, 전송 또는 입수한 모든 형태의 정보에 대하여는 회원이 모든 책임을 부담하며 기관는 어떠한 책임도 부담하지 아니합니다.<br>
3. 기관은 수원시평생학습관 누구나학교 홈페이지에서 제공한 서비스가 아닌 가입자 또는 기타 유관기관이 제공하는 서비스 내용의 정확성, 완전성 및 품질에 대하여 보장하지 않습니다. 따라서 기관은 회원이 위 내용을 이용함으로써 발생하는 모든 종류의 손실이나 손해에 대하여 책임을 부담하지 아니합니다.<br>
4. 회원은 본 서비스를 통하여 다음과 같은 행위를 금지합니다. <br>
① 타인의 ID와 비밀번호를 도용하는 행위<br>
② 저속, 음란, 모욕적, 위협적이거나 타인의 프라이버시를 침해할 수 있는 내용을 전송, 게시, 게재, 전자메일 또는 기타의 방법으로 전송하는 행위<br>
③ 서비스를 통하여 전송된 내용의 출처를 위장하는 행위<br>
④ 법률, 계약에 의하여 이용할 수 없는 내용을 게시, 게재, 전자메일 또는 기타의 방법으로 전송하는 행위<br>
⑤ 타인의 특허, 상표, 영업비밀, 저작권, 기타 지적재산권을 침해하는 내용을 게시, 게재, 전자메일 또는 기타의 방법으로 전송하는 행위<br>
⑥ 관리자의 승인을 받지 아니한 광고, 판촉물, 정크메일, 스팸, 행운의 편지, 피라미드 조직 등 다른 형태의 권유를 게시, 게재, 전자메일 또는 기타의 방법으로 전송하는 행위<br>
⑦ 다른 사용자의 개인정보를 수집 또는 저장하는 행위<br>
5. 관리자는 회원이 본 약관을 위배했다고 판단되면 서비스와 관련한 모든 이용정보를 이용자에게 수정·삭제 등의 권고하거나 이용자의 동의 없이 삭제할 수 있습니다.<br>
<br>
제16조 (휴면계정 관리) 이용자가 신청을 통해서 회원가입 후 서비스를 이용하는 도중 12개월 동안 수원시평생학습관 누구나학교 홈페이지에 로그인을 하지 않으면 서비스의 이용을 정지(휴면계정 등록) 할 수 있습니다. 서비스 이용정지 이후 12개월 동안 서비스를 이용하기 위해 로그인을 하지 않으면 회원의 서비스 이용자격을 상실시킬 수 있습니다. 이 경우에는 회원의 서비스에 보관된 모든 데이터는 삭제되며 삭제된 데이터에 대해서는 책임지지 아니 합니다.<br>
<br>
제3장 의무 및 책임<br>
제17조 (기관의 의무) <br>
1. 기관은 관련법과 본 약관이 금지하거나 미풍양속에 반하는 행위를 하지 않으며 계속적, 안정적으로 서비스를 제공하기 위해 최선을 다해 노력합니다.<br>
2. 기관은 회원이 안전하게 서비스를 이용할 수 있도록 개인정보 보호를 위한 보안 시스템을 갖추어야 하며 개인정보취급방침을 공시하고 준수합니다.<br>
3. 기관은 서비스 이용과 관련하여 회원으로부터 제기된 의견이나 불만이 정당하다고 인정할 경우에는 이를 처리하여야 합니다. 회원이 제기한 의견이나 불만사항에 대해서는 게시판을 활용하거나 SMS 등을 통하여 회원에게 처리과정 및 결과를 전달합니다.<br>
<br>
제18조 (회원의 의무) <br>
1. 회원가입 시에 요구되는 정보는 정확하게 기입하여야 하며, 기입된 정보가 정확하게 유지·갱신되어야 합니다. 또한, 회원은 자신의 ID 및 비밀번호를 제3자에게 이용하게 해서는 안 됩니다.<br>
2. 회원은 관리자의 사전 승낙 없이 서비스를 이용하여 어떠한 영리행위도 할 수 없습니다.<br>
3. 회원은 서비스를 이용하여 얻은 정보를 관리자의 사전승낙 없이 복사, 복제, 변경, 번역, 출판·방송 기타의 방법으로 사용하거나 이를 타인에게 제공할 수 없습니다.<br>
4. 회원은 서비스 이용과 관련하여 다음 각 호의 행위를 하여서는 안 됩니다. <br>
① 다른 "회원"의 ID를 부정 사용하는 행위<br>
② 범죄행위를 목적으로 하거나 기타 범죄행위와 관련된 행위<br>
③ 선량한 풍속, 기타 사회질서를 해하는 행위<br>
④ 타인의 명예를 훼손하거나 모욕하는 행위<br>
⑤ 타인의 지적재산권 등의 권리를 침해하는 행위<br>
⑥ 해킹행위 또는 컴퓨터바이러스의 유포 행위<br>
⑦ 타인의 의사에 반하여 광고성 정보 등 일정한 내용을 지속적으로 전송하는 행위<br>
⑧ 서비스의 안전적인 운영에 지장을 주거나 줄 우려가 있는 일체의 행위<br>
⑨ 수원시평생학습관 누구나학교 홈페이지에 게시된 정보를 변경하는 행위<br>
<br>
제4장 기타<br>
제19조 (기관의 소유권) <br>
1. 수원시평생학습관 누구나학교 홈페이지에서 제공하는 서비스, 그에 필요한 소프트웨어, 이미지, 마크, 로고, 디자인, 서비스명칭, 정보 및 상표 등과 관련된 지적 재산권 및 기타 권리는 기관에 소유권이 있습니다.<br>
2. 회원은 관리자가 명시적으로 승인한 경우를 제외하고는 제1항에 대한 소유권의 전부 또는 일부의 수정, 대여, 대출, 판매, 배포, 제작, 양도, 저작권 기한연장, 담보권 설정 행위, 상업적 이용 행위를 할 수 없으며, 제3자로 하여금 이와 같은 행위를 하도록 허락할 수 없습니다.<br>
<br>
제20조 (손해배상) 회원이 서비스의 이용권한, 기타 이용계약 상 지위를 타인에게 양도, 증여할 수 없으며 이를 담보로 제공할 수 없습니다.<br>
<br>
제21조 (양도금지) 기관이 무료로 제공되는 서비스와 관련하여 회원에게 어떠한 손해가 발생하더라도 기관이 고의로 행한 범죄행위를 제외하고 이에 대하여 책임을 부담하지 않습니다.<br>
<br>
제22조 (면책조항) <br>
1. 기관은 천재지변 또는 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 서비스 제공에 관한 책임이 면제됩니다.<br>
2. 기관은 회원의 귀책사유로 인한 서비스 이용의 장애에 대하여 책임을 지지 않습니다.<br>
3. 기관은 회원이 서비스를 이용하여 기대하는 수익을 상실한 것에 대하여 책임을 지지 않으며 그밖에 서비스를 통하여 얻은 자료로 인한 손해에 관하여 책임을 지지 않습니다.<br>
4. 기관은 회원이 서비스에 게재한 정보, 자료, 사실의 신뢰도, 정확성 등 내용에 관하여는 책임을 지지 않습니다.<br>
5. 기관은 회원 상호간 또는 회원과 제3자 상호간에 서비스를 매개로 발생한 분쟁에 대해서는 개입할 의무가 없으며 이로 인한 손해를 배상할 책임도 없습니다.<br>
<br>
제23조(약관 외 준칙) 본 약관에 명시되지 않은 사항은 전기통신기본법, 전기통신사업법, 정보통신윤리위원회심의규정, 정보통신 윤리 강령, 프로그램보호법 및 기타 관련 법령의 규정에 의합니다.<br>
<br>
본 서비스 이용과 관련하여 발생한 분쟁에 대해 소송이 제기될 경우 기관의 소재지를 관할하는 법원을 관할법원으로 합니다.<br>
<br>
<br>
부칙<br>
1. (시행일) 본 약관은 2017년 4월 1일부터 시행됩니다. </div>
			<p class="checkAgreement"><input name="checkAgreement" type="checkbox" value="Y" id="checkAgreement" class="inputCheck"><label for="checkAgreement">이용 약관에 동의 합니다.</label></p>
										<h4 class="joinTitle">개인정보 취급 방침</h4>
				<div class="joinAgreement">개인정보처리방침<br>
<br>
수원시평생학습관 누구나학교(http://nuguna.suwonedu.org.  이하 누구나학교 홈페이지)는 개인정보보호법에 따라 이용자의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다. 수원시평생학습관 누구나학교(누구나학교 홈페이지)는 개인정보 처리방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다. 본 방침은 2017년 4월 1일부터 시행됩니다.<br>
<br>
1. 개인정보의 처리 목적<br>
 수원시평생학습관 누구나학교(누구나학교 홈페이지)은 개인정보를 다음의 목적을 위해 처리합니다. 처리한 개인정보는 다음의 목적이외의 용도로는 사용되지 않으며 이용 목적이 변경될 시에는 사전 동의를 구할 예정입니다.<br>
 가. 홈페이지 회원가입 및 관리 회원 가입의사 확인, 회원자격 유지·관리, 서비스 부정이용 방지, 만14세 미만 아동 개인정보 수집 시 법정대리인 동의 여부 확인, 각종 고지·통지, 고충처리, 분쟁 조정을 위한 기록 보존 등을 목적으로 개인정보를 처리합니다.<br>
 나. 민원사무 처리 민원인의 신원 확인, 민원사항 확인, 사실조사를 위한 연락·통지, 처리결과 통보 등을 목적으로 개인정보를 처리합니다.<br>
 다. 재화 또는 서비스 제공, 콘텐츠 제공 등을 목적으로 개인정보를 처리합니다.<br>
 라. 마케팅 및 광고에의 활용 신규 서비스(제품) 개발 및 맞춤 서비스 제공, 이벤트 및 광고성 정보 제공 및 참여기회 제공 , 인구통계학적 특성에 따른 서비스 제공 및 광고 게재 , 서비스의 유효성 확인, 접속빈도 파악 또는 회원의 서비스 이용에 대한 통계 등을 목적으로 개인정보를 처리합니다.<br>
 마. 개인영상정보 범죄의 예방 및 수사, 시설안전 및 화재예방 등을 목적으로 개인정보를 처리합니다.<br>
<br>
2. 개인정보 파일 현황<br>
 수원시평생학습관 누구나학교(누구나학교 홈페이지)가 개인정보 보호법 제32조에 따라 등록·공개하는 개인정보파일의 처리목적은 다음과 같습니다.<br>
 가. 개인정보 파일명 : 수원시평생학습관 누구나학교 수강회원 DB 개인정보 <br>
 나. 항목 : (필수사항)이메일, 비밀번호, 비밀번호 질문과 답, 이름, 닉네임, 모바일 전화번호, 접속 IP 정보, 쿠키, 서비스 이용 기록, 접속 로그 (선택사항)강사사진, 프로필<br>
 다. 수집방법 : 서면양식, 홈페이지, 전화/팩스<br>
 라. 보유근거 : 수원시 평생교육진흥 조례 및 수원시 지방 보조금 운영 편람 및 정보주체 동<br>
 마. 보유기간 : 5년<br>
 바. 관련법령 : 소비자의 불만 또는 분쟁처리에 관한 기록(3년), 계약 또는 청약철회 등에 관한 기록(5년), 표시/광고에 관한 기록(6개월)<br>
<br>
3. 개인정보의 처리 및 보유 기간<br>
 가. 수원시평생학습관 누구나학교(누구나학교 홈페이지)는 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집시에 동의 받은 개인정보 보유,이용기간 내에서 개인정보를 처리,보유합니다.<br>
 나. 각각의 개인정보 처리 및 보유 기간은 다음과 같습니다. <br>
  1) 홈페이지 회원가입 및 관리 : 홈페이지 회원가입 및 관리와 관련한 개인정보는 수집.이용에 관한 동의일로부터 5년까지 위 이용목적을 위하여 보유이용됩니다.<br>
  2) 보유근거 : 수원시 평생교육진흥 조례 및 수원시 지방 보조금 운영 편람 및 정보주체 동<br>
  3) 관련법령<br>
   ① 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년<br>
   ② 계약 또는 청약철회 등에 관한 기록 : 5년<br>
   ③ 표시/광고에 관한 기록(6개월)<br>
  4) 예외사유 : 회원탈퇴 시 주요 개인정보는 삭제되며 다만 일부항목은 통계목적으로 보관 됩니다. (보관항목 : 성명, 수강 이력, 서비스 이력) <br>
<br>
4. 개인정보의 제3자 제공에 관한 사항<br>
 가. 수원시평생학습관 누구나학교(누구나학교 홈페이지)은 정보주체의 동의, 법률의 특별한 규정 등 개인정보 보호법 제17조 및 제18조에 해당하는 경우에만 개인정보를 제3자에게 제공합니다.<br>
 나. 수원시평생학습관 누구나학교(누구나학교 홈페이지)은 다음과 같이 개인정보를 제3자에게 제공하고 있습니다.<br>
  1) 수원시청<br>
   ① 제공받는 자의 개인정보 이용목적 : 평생교육수강통계자료 (접속 IP 정보, 쿠키, 서비스 이용 기록, 접속 로그)<br>
   ② 제공받는 자의 보유.이용기간: 5년<br>
  2) 디자인아즈<br>
   ① 제공받는 자의 개인정보 이용목적 : 홈페이지 관리<br>
   ② 제공되는 개인정보 : 이메일, 비밀번호, 비밀번호 질문과 답, 이름, 닉네임, 모바일 전화번호, 접속 IP 정보, 쿠키, 서비스 이용 기록, 접속 로그, 강사사진, 프로필, 개설강좌정보, 사진<br>
   ③ 제공받는 자의 보유.이용기간: 5년<br>
  3) ㈜대미소프트웨어<br>
   ① 제공받는 자의 개인정보 이용목적 : 수강프로그램 관리 <br>
   ② 제공되는 개인정보 : 이메일, 이름, 모바일 전화번호<br>
   ③ 제공받는 자의 보유.이용기간: 5년<br>
  4) 강사<br>
   ① 제공받는 자의 개인정보 이용목적 : 강좌 운영 및 회원 관리<br>
   ② 제공되는 개인정보 : 성명<br>
   ② 제공받는 자의 보유.이용기간: 강좌 운영일의 운영시간<br>
<br>
5. 개인정보처리 위탁<br>
 가. 수원시평생학습관 누구나학교(누구나학교 홈페이지)은 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 위탁하고 있습니다. <br>
  1) 수탁자 : 디자인아즈 <br>
   ① 수탁자 주소 : 서울특별시 강남구 논현동 211-20강남빌딩4층 462 <br>
   ② 수탁자 연락처 : 010-8772-1325　<br>
   ③ 위탁하는 업무의 내용 : 누구나학교 홈페이지 관리<br>
   ④ 위탁기간 : 계약 해지일 혹은 계약 종료일까지<br>
  2) 누구나학교 홈페이지 관리 위탁받는 자(수탁자) : ㈜대미소프트웨어<br>
   ① 수탁자 주소 : 경기 수원시 팔달구 덕영대로697번길 7 <br>
   ② 수탁자 연락처 : (031)251-9575<br>
   ③ 위탁하는 업무의 내용 : 수강관리프로그램 관리<br>
   ④ 위탁기간 : 계약 해지일 혹은 계약 종료일까지<br>
  3) 누구나학교 홈페이지 관리 위탁받는 자(수탁자) : 누구나학교 강사<br>
   ① 수탁자 조건 : 누구나학교 강좌를 여는 누구나<br>
   ③ 위탁하는 업무의 내용 : 강좌 운영 및 회원 관리<br>
   ④ 위탁기간 : 강좌 종료시 즉시 파기<br>
 나. 수원시평생학습관 누구나학교(누구나학교 홈페이지)은 위탁계약 체결시 개인정보 보호법 제25조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적·관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리·감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.<br>
 다. 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.<br>
<br>
6. 정보주체의 권리, 의무, 행사방법<br>
 정보주체의 권리, 의무 및 그 행사방법 이용자는 개인정보주체로서 다음과 같은 권리를 행사할 수 있습니다.<br>
 가. 정보주체는 수원시평생학습관(수원시평생학습관 홈페이지) 에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다. <br>
  1) 개인정보 열람요구<br>
  2) 오류 등이 있을 경우 정정 요구<br>
  3) 삭제요구<br>
  4) 처리정지 요구<br>
 나. 제1항에 따른 권리 행사는 수원시평생학습관 누구나학교(누구나학교 홈페이지)에 대해 개인정보 보호법 시행규칙 별지 제8호 서식에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며 수원시평생학습관 누구나학교(누구나학교 홈페이지)는 이에 대해 지체 없이 조치하겠습니다.<br>
 다. 정보주체가 개인정보의 오류 등에 대한 정정 또는 삭제를 요구한 경우에는 수원시평생학습관 누구나학교(누구나학교 홈페이지)는 정정 또는 삭제를 완료할 때까지 당해 개인정보를 이용하거나 제공하지 않습니다.<br>
 라. 제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 이 경우 개인정보 보호법 시행규칙 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.<br>
<br>
7. 처리하는 개인정보의 항목 작성<br>
수원시평생학습관 누구나학교(누구나학교 홈페이지)는 다음의 개인정보 항목을 처리하고 있습니다.<br>
 가. 홈페이지 회원가입 및 관리 필수항목 : (필수사항)이메일, 비밀번호, 비밀번호 질문과 답, 이름, 닉네임, 모바일 전화번호, 접속 IP 정보, 쿠키, 서비스 이용 기록, 접속 로그 (선택사항)강사사진, 프로필<br>
<br>
8. 개인정보의 파기<br>
 수원시평생학습관 누구나학교(누구나학교 홈페이지)은 원칙적으로 개인정보 처리목적이 달성된 경우에는 지체없이 해당 개인정보를 파기합니다. 파기의 절차, 기한 및 방법은 다음과 같습니다.<br>
 가. 파기절차<br>
 이용자가 입력한 정보는 목적 달성 후 별도의 DB에 옮겨져(종이의 경우 별도의 서류) 내부 방침 및 기타 관련 법령에 따라 일정기간 저장된 후 혹은 즉시 파기됩니다. 이 때, DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.<br>
 나. 파기기한<br>
 이용자의 개인정보는 개인정보의 보유기간이 경과된 경우에는 보유기간의 종료일로부터 5일 이내에, 개인정보의 처리 목적 달성, 해당 서비스의 폐지, 사업의 종료 등 그 개인정보가 불필요하게 되었을 때에는 개인정보의 처리가 불필요한 것으로 인정되는 날로부터 5일 이내에 그 개인정보를 파기합니다.<br>
 다. 파기방법<br>
 전자적 파일 형태의 정보는 기록을 재생할 수 없는 기술적 방법을 사용합니다. 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.<br>
<br>
9. 개인정보의 안전성 확보 조치<br>
 수원시평생학습관 누구나학교(누구나학교 홈페이지)은 개인정보보호법 제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.<br>
 가. 개인정보 취급 직원의 최소화 및 교육<br>
 개인정보를 취급하는 직원을 지정하고 담당자에 한정시켜 최소화 하여 개인정보를 관리하는 대책을 시행하고 있습니다.<br>
 나. 정기적인 자체 감사 실시<br>
 개인정보 취급 관련 안정성 확보를 위해 정기적(분기 1회)으로 자체 감사를 실시하고 있습니다.<br>
 다. 내부관리계획의 수립 및 시행<br>
 개인정보의 안전한 처리를 위하여 내부관리계획을 수립하고 시행하고 있습니다.<br>
 마. 개인정보의 암호화<br>
 이용자의 개인정보는 비밀번호는 암호화 되어 저장 및 관리되고 있어, 본인만이 알 수 있으며 중요한 데이터는 파일 및 전송 데이터를 암호화 하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 사용하고 있습니다.<br>
 바. 해킹 등에 대비한 기술적 대책<br>
 수원시평생학습관 누구나학교(누구나학교 홈페이지)은 해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 주기적인 갱신·점검을 하며 외부로부터 접근이 통제된 구역에 시스템을 설치하고 기술적/물리적으로 감시 및 차단하고 있습니다.<br>
 사. 개인정보에 대한 접근 제한<br>
 개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여,변경,말소를 통하여 개인정보에 대한 접근통제를 위하여 필요한 조치를 하고 있으며 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있습니다.<br>
 아. 접속기록의 보관 및 위변조 방지<br>
 개인정보처리시스템에 접속한 기록을 최소 6개월 이상 보관, 관리하고 있으며, 접속 기록이 위변조 및 도난, 분실되지 않도록 보안기능 사용하고 있습니다.<br>
 자. 문서보안을 위한 잠금장치 사용<br>
 개인정보가 포함된 서류, 보조저장매체 등을 잠금장치가 있는 안전한 장소에 보관하고 있습니다.<br>
 차. 비인가자에 대한 출입 통제<br>
 개인정보를 보관하고 있는 물리적 보관 장소를 별도로 두고 이에 대해 출입통제 절차를 수립, 운영하고 있습니다.<br>
<br>
10. 개인정보 보호책임자 작성<br>
 가. 수원시평생학습관 누구나학교(누구나학교 홈페이지)는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다. <br>
 개인정보 보호책임자 성명 : 유정하 / <br>
                     직책 : 운영팀장 /<br>
                     직급 : 팀장 / <br>
                   연락처 : 031-248-9908, zzz6905@suwonedu.org <br>
<br>
※개인정보 보호 담당부서<br>
 개인정보 보호 담당부서 성명 : 김성기 / <br>
                       부서 : 운영팀 /<br>
                       직급 : 팀원 /<br>
                     연락처 : 070-4477-6510, london1919@suwonedu.org<br>
 <br>
 개인정보 취급자 성명 : 박선영(누구나학교 홈페이지 관리자) / <br>
                 부서 : 교육2파트 / <br>
                 직급 : 연구원 / <br>
               연락처 : 070-4477-6519, hopeful1365@suwonedu.org<br>
 <br>
 개인정보 취급자 성명 : 조진희(수강신청, 반딧불이 상담실 관리자) / <br>
                 부서 : 교육1파트 /<br>
                 직급 : 연구원 / <br>
               연락처 : 070-4477-6515, goodyelin@suwonedu.org <br>
<br>
나. 정보주체께서는 수원시평생학습관 누구나학교(누구나학교 홈페이지) 의 서비스(또는 사업)을 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당부서로 문의하실 수 있습니다. 수원시평생학습관 누구나학교(누구나학교 홈페이지)는 정보주체의 문의에 대해 지체 없이 답변 및 처리해드릴 것입니다.<br>
<br>
11. 개인정보 열람청구<br>
가. 정보주체는 개인정보 보호법 제35조에 따른 개인정보의 열람 청구를 아래의 부서에 할 수 있습니다. 수원시평생학습관 누구나학교(누구나학교 홈페이지)은 정보주체의 개인정보 열람청구가 신속하게 처리되도록 노력하겠습니다.<br>
 1) 개인정보 열람청구 접수·처리 부서 <br>
 2) 부서명 : 교육2파트 <br>
 3) 담당자 : 박선영 (누구나학교 홈페이지 관리자)<br>
 4) 연락처 : 070-4477-6519, hopeful1365@suwonedu.org<br>
나. 정보주체께서는 제1항의 열람청구 접수·처리부서 이외에, 행정안전부의 ‘개인정보보호 종합지원 포털’ 웹사이트(www.privacy.go.kr)를 통하여서도 개인정보 열람청구를 하실 수 있습니다. <br>
 ※ 행정안전부 개인정보보호 종합지원 포털 → 개인정보 민원 → 개인정보 열람등 요구 (본인확인을 위하여 아이핀(I-PIN)이 있어야 함)<br>
<br>
12. 개인정보 열람청구(기관)<br>
아래의 기관은 "사업자/단체명" 과는 별개의 기관으로서, 수원시평생학습관 누구나학교(누구나학교 홈페이지)의 자체적인 개인정보 불만처리, 피해구제 결과에 만족하지 못하시거나 보다 자세한 도움이 필요하시면 문의하여 주시기 바랍니다.<br>
<br>
 ※ 개인정보 침해신고센터 (한국인터넷진흥원 운영) 소관업무 : 개인정보 침해사실 신고, 상담 신청 <br>
홈페이지 : privacy.kisa.or.kr<br>
전화 : (국번없이) 118 <br>
주소 : (138-950) 서울시 송파구 중대로 135 한국인터넷진흥원 개인정보침해신고센터 <br>
<br>
 ※ 개인정보 분쟁조정위원회 (한국인터넷진흥원 운영) 소관업무 : 개인정보 분쟁조정신청, 집단분쟁조정 (민사적 해결) <br>
홈페이지 : privacy.kisa.or.kr<br>
전화 : (국번없이) 118 <br>
주소 : (138-950) 서울시 송파구 중대로 135 한국인터넷진흥원 개인정보침해신고센터 <br>
<br>
 ※ 대검찰청 사이버범죄수사단 : 02-3480-3573 (www.spo.go.kr)<br>
 ※ 경찰청 사이버범죄수사단 : 1566-0112 (www.netan.go.kr)<br>
<br>
13. 개인정보 처리방침 변경<br>
 이 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는<br>
 변경사항의 시행 7일 전부터 공지사항 게시판을 통하여 고지할 것입니다.<br>
<br>
부칙<br>
 1. (시행일) 본 방침은 2017년 4월 1일부터 시행됩니다.</div>
												<p class="checkAgreement"><input name="checkPrivateAgreement" type="checkbox" value="Y" id="checkPrivateAgreement" class="inputCheck"><label for="checkPrivateAgreement">개인 정보 수집 및 이용에 동의합니다.</label></p>
						<div class="joinButtonArea">
							<span class="joinButton"><input name="" class="member_join_agree" type="submit" value="재동의"></span>
		</fieldset>
	</form>
</div>
			   	       </div>

<style media="screen">
.joinTitle {
  font-size: 14px;
  padding: 12px 20px;
  margin: 0 0 10px 0;
}
.joinAgreement {
  position: relative;
  height: 140px;
  line-height: 1.5;
  margin: 0 20px 15px 20px;
  padding: 10px;
  overflow: auto;
  border: 1px solid #ddd;
  background: #fbfbfb;
  color: #767676;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.checkAgreement {
  margin: 0 20px 15px 20px;
  color: #333;
}
.joinContent .joinButtonArea {
    margin: 0 20px;
    text-align: center;
}
.joinContent .joinButton {
    position: relative;
    display: inline-block;
    width: 270px;
    height: 28px;
    border: 3px double #ddd;
    background: #f8f8f8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.joinContent .joinButton input,
.joinContent .joinButton a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 270px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    overflow: visible;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    background: transparent;
    color: #333;
    text-decoration: none;
}
#submit:hover, #submit:focus, button:hover, button:focus, .button:hover, .button:focus, .button.loading:hover, .button.loading:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    color: #fff;
    background-color: #ff9900;
    cursor: pointer;
}
</style>
